{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Links to the site's favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_18/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_18/favicon.ico') }}" type="image/x-icon">
  <style>
    body {
      height: 100vh;
      overflow: hidden;
    }
    .container-fluid {
      padding: 0;
      margin: 0;
    }
    .jet-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
    }
    .dimmer-jet-bg {
      filter: brightness(50%);
    }
    .form-invisible {
      display: none;
    }
    @media (min-width: 800px) {
      #mobile-image {
        display: none;
      }
      #desktop-image {
        display:block;
      }
    }
  </style>
  <title>
    {% block title %}Login{% endblock %}
  </title>
{% endblock %}

{% block page_content %}

<img src="{{ url_for('static', filename='images/caf_over_mountains.jpg') }}" alt="fighter jets over snowy mountains" 
  class="jet-bg" id="desktop-image">
<img src="{{ url_for('static', filename='images/caf_hornet_mobile.jpg') }}" alt="fighter jet mobile image" 
  class="jet-bg" id="mobile-image">

<form action="{{ url_for('auth.login') }}" method="POST" style="position: relative;" class="form-invisible">
  <div class="row text-center">
    <div class="col-6 mx-auto">
      <img class="my-md-3 mt-5 mb-1" src="{{url_for('static', filename='images/favicon_18/apple-touch-icon.png')}}" 
      alt="number id icon" width="72" height="57">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-10 mx-auto">
      <h1 class="display-4 mb-xl-5 mb-md-3 mb-1 text-light">Please Sign In</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.email(class="form-control", placeholder="Email") }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.password(class="form-control", placeholder="Password") }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-10 mx-auto">
      <div class="checkbox form-switch pt-2">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="text-light") }}
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-6">
      <p class="my-md-3 my-2"> 
        <a class="p-1 link-light" href="{{ url_for('auth.register') }}">
          New User?
        </a>
      </p>
    </div>
    <div class="col-md-6 col-6 my-2">
      {{ form.submit(class="btn btn-light")}}
    </div>
  </div>
  
</form>

<script>
  var element1 = document.querySelector("#desktop-image");
  var element2 = document.querySelector("#mobile-image");
  var element3 = document.querySelector("form");
  element1.addEventListener("click", toggleDim);
  element2.addEventListener("click", toggleDim);
  element3.addEventListener("click", toggleDim);

  function toggleDim() {
    element1.classList.toggle("dimmer-jet-bg");
    element2.classList.toggle("dimmer-jet-bg");
    element3.classList.toggle("form-invisible");
  }
</script>

{% endblock %}