{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Links to the site's favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_7/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_7/favicon.ico') }}" type="image/x-icon">

  <style>
    body {
      height: 100vh;
      background-image: linear-gradient(45deg, red, blue);
      overflow: hidden;
    }

    .input-container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 100%;
      margin-bottom: 15px;
    }

    .icon {
      padding: 10px;
      background: dodgerblue;
      color: white;
      min-width: 50px;
      text-align: center;
      font-size: 2rem;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
    }

    .input-field:focus {
      border: 2px solid dodgerblue;
    }


    /* Responsive layout - makes a one column layout instead of a two-column layout */
    @media (max-width: 800px) {
      .input-container {
        flex-direction: column;
      }
      .input-field {
        padding: 3px;
      }
      .icon {
        padding: 3px;
        font-size: 1.5rem;
      }
    }
  </style>
  <title>
    {% block title %}Login{% endblock %}
  </title>
{% endblock %}

{% block page_content %}

<!-- Get a login page that has icons besides the input fields -->

<div class="text-center">
  <img class="my-md-3 my-1" src="{{url_for('static', filename='images/favicon_7/apple-touch-icon.png')}}" 
    alt="number id icon" width="72" height="57">

  <h1 class="display-4 my-3 text-center text-light">Please Sign In</h1>
    <form method="POST" action="{{ url_for('auth.login') }}" style="max-width:700px;margin:auto">
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        {{ form.email(class="input-field", placeholder="Email") }}
      </div>
      <div class="input-container">
        <i class="fa fa-lock icon"></i>
        {{ form.password(class="input-field", placeholder="Password")}}
      </div>
      <div class="checkbox form-switch my-md-3 mx-md-3 text-right">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="mb-md-1 mb-3 form-check-label text-light") }}
      </div>
      <div class="text-right">
        {{ form.submit(class="text-light btn btn-large btn-primary") }}
      </div>
      <div class="text-right">
        <p class="my-3"> 
          <a class="text-light" href="{{ url_for('auth.register') }}">  
            New User?
          </a>
        </p>
      </div>
      
    </form>
</div>



{% endblock %}