{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_login.css', _external=True) }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">  
  <title>
    {% block title %}Login{% endblock %}
  </title>
{% endblock %}

{% block navbar%}{% endblock %}
{% block page_content %}
<p class="text-light">
  New user?
  <a class="text-light" href="{{ url_for('auth.register') }}">
    Click here to register
  </a>
</p>

  <main class="form-signin text-light">
    <form method="POST" action="{{ url_for('auth.login') }}">
      {{ form.csrf_token }}
      <img class="mb-4" src="{{url_for('static', filename='favicon/apple-touch-icon.png')}}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {{ form.email(class="form-control", placeholder="Email address") }}
      {{ form.password(class="form-control", placeholder="Password") }}
      <div class="checkbox form-switch mb-3">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="form-check-label") }}
      </div>
      <button class="w-100 btn btn-lg dark-h4 text-light" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2020</p>
    </form>
  </main>
  
{% endblock %}