{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Links to the site's favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_11/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_11/favicon.ico') }}" type="image/x-icon">

  <style>
    body {
      overflow: hidden;
      background-color: black;
    }
    
    .container-fluid {
      padding: 0;
      margin: 0;
    }

    .grad-div {
      height: auto;
      background: linear-gradient(to right, 
        rgba(60, 20, 0, 0) 0%,
        rgba(120, 20, 0, 0.5) 40%,
        rgba(120, 20, 0, 1) 50%,
        rgba(120, 20, 0, 0.5) 60%,
        rgba(60, 20, 0, 0) 100%);
    }
  </style>
  <title>
    {% block title %}Login{% endblock %}
  </title>
{% endblock %}

{% block page_content %}

<form action="{{ url_for('auth.register') }}" method="POST">
  <div class="text-center">
    <img class="my-md-3 my-1" src="{{url_for('static', filename='images/favicon_11/apple-touch-icon.png')}}" 
    alt="number id icon" width="72" height="57">
  </div>
  
  <div class="row grad-div my-3 py-2">
    <div class="col-md-3 col-10 mx-auto">
      <h1 class="display-4 text-center text-light">Please Register</h1>
    </div>
  </div>
  
  <div class="row grad-div my-2 py-2">
    <div class="col-md-3 col-10 mx-auto">
      {{ form.email(class="form-control", placeholder="Email") }}
    </div>
  </div>
  
  <div class="row grad-div my-2 py-2">
    <div class="col-md-3 col-10 mx-auto">
      {{ form.username(class="form-control", placeholder="Username") }}
    </div>
  </div>
  
  <div class="row grad-div mt-2 mb-3 py-2">
    <div class="col-md-3 col-10 mx-auto">
      {{ form.password(class="form-control", placeholder="Password") }}
    </div>
  </div>

  <div class="row grad-div mt-2 mb-3 py-2">
    <div class="col-md-3 col-10 mx-auto">
      {{ form.password2(class="form-control", placeholder="Confirm Password") }}
    </div>
  </div>

  <div class="row grad-div text-center">
    <div class="col-md-2 col-6 mx-auto">
      <p class="my-3 text-light">
        Already registered? Sign in
        <a class="text-light" href="{{ url_for('auth.login') }}">
          here...
        </a>
      </p>
    </div>
    <div class="col-md-1 mx-auto my-2">
      {{ form.submit(class="btn btn-danger")}}
    </div>
  </div>
</form>



{% endblock %}