{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Links to the site's favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_15/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_15/favicon.ico') }}" type="image/x-icon">
  <style>
    body {
      background-color: #000;
      overflow: hidden;
    }
    .container-fluid {
      padding: 0;
      margin: 0;
    }
    #mobile-image {
      display: block;
    }
    #desktop-image {
      display: none;
    }
    @media (min-width: 800px) {
      #mobile-image {
        display: none;
      }
      #desktop-image {
        display:block;
      }
    }
  </style>
  <title>
    {% block title %}Registration{% endblock %}
  </title>
{% endblock %}

{% block page_content %}

<div style="position: absolute;">
  <img src="{{ url_for('static', filename='images/firewatch_mobile.png') }}" alt="mobile version of firewatch wallpaper" 
  style="width:100vw; height: 100vh; object-fit:fill;" id="mobile-image">
  <img src="{{ url_for('static', filename='images/firewatch_desktop.jpg') }}" alt="desktop version of firewatch wallpaper" 
  style="width:100vw; height: 100vh; object-fit:fill;" id="desktop-image">
</div>


<form action="{{ url_for('auth.register') }}" method="POST" style="position: relative;">
  <div class="row text-center">
    <div class="col-6 mx-auto">
      <img class="my-md-3 mt-5 mb-1" src="{{url_for('static', filename='images/favicon_15/apple-touch-icon.png')}}" 
      alt="number id icon" width="72" height="57">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-10 mx-auto">
      <h1 class="display-4 mb-xl-5 mb-md-3 mb-1">Please Register</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.email(class="form-control", placeholder="Email") }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.email(class="form-control", placeholder="Username") }}
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.password(class="form-control", placeholder="Password") }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.password2(class="form-control", placeholder="Confirm Password") }}
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-md-6 col-6">
      <p class="my-md-3 my-2"> 
        <a class="p-1 link-light" href="{{ url_for('auth.login') }}">
          Already a User?
        </a>
      </p>
    </div>
    <div class="col-md-6 col-6 my-2">
      {{ form.submit(class="btn btn-light")}}
    </div>
  </div>
  
</form>



{% endblock %}