{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Links to the site's favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_25/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_25/favicon.ico') }}" type="image/x-icon">
  <style>
    body {
      background-image: #000;
      min-height: 100vh;
      overflow: hidden;
    }
    .container-fluid {
      padding: 0;
      margin: 0;
    }
    .bg-watercolor {
      height: 100vh;
      width: 100vw;
    }
    .shadow-warning:focus {
      box-shadow: 0 0 0 0.25rem rgb(240 173 78 / 75%);
      border-color: #f0ad4e;
      outline: zero;
    }
  </style>
  <title>
    {% block title %} Registrations {% endblock %}
  </title>
{% endblock %}

{% block page_content %}
<div style="position: fixed;">
  <img class="bg-watercolor" src="{{ url_for('static', filename='images/best-watercolor-backgrounds.jpg') }}" alt="watercolor image as background">
</div>

<form action="{{ url_for('auth.register') }}" method="POST">
  <div class="row text-center">
    <div class="col-6 mx-auto">
      <img class="my-md-3 mt-5 mb-1" src="{{url_for('static', filename='images/favicon_25/apple-touch-icon.png')}}" 
      alt="number id icon" width="72" height="57">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-10 mx-auto">
      <h1 class="display-4 mb-xl-5 mb-md-3 pb-2 text-dark"><strong>Please Register Below</strong></h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.email(class="form-control shadow-warning", placeholder="Email") }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.username(class="form-control shadow-warning", placeholder="Username") }}
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.password(class="form-control shadow-warning", placeholder="Password") }}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-xs-8 col-10 mx-auto mb-xl-3 mb-1">
      {{ form.password2(class="form-control shadow-warning", placeholder="Confirm Password") }}
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-6 col-6">
      <p class="my-md-3 my-2"> 
        <a class="p-1 link-dark" href="{{ url_for('auth.login') }}">
          <strong> Already a User? </strong>
        </a>
      </p>
    </div>
    <div class="col-md-6 col-6 my-2">
      {{ form.submit(class="btn btn-warning font-weight-bold")}}
    </div>
  </div>
  
</form>




{% endblock %}