{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <!-- Links to the site's favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_3/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_3/favicon.ico') }}" type="image/x-icon">

  <style>
    :root {
      --primary-colour: #ff0000;
      --secondary-colour: #DAA520;
    }

    body {
      background-image: linear-gradient(-25deg, #006, #700);
      background-attachment: fixed;
    }
  </style>
  <title>
    {% block title %}Register{% endblock %}
  </title>
{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-md-5 offset-md-1">
    <form method="POST" action="{{ url_for('auth.register') }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="text-center">
          <img style="" class="my-5" src="{{url_for('static', filename='images/favicon_3/apple-touch-icon.png')}}" alt="" width="72" height="57">
        </div>
      </div>
      <div class="row">
        <h1 class="display-4 my-md-5 text-center text-light">Please Register</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          {{ form.username(class="my-1 mx-md-3 form-control", placeholder="Username") }}
        </div>
        <div class="col-md-6">
          {{ form.password(class="my-1 mx-md-3 form-control", placeholder="Password") }}          
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {{ form.email(class="my-1 mx-md-3 form-control", placeholder="Email address") }}
        </div>
        <div class="col-md-6">
          {{ form.password2(class="my-1 mx-md-3 form-control", placeholder="Confirm Password") }}
        </div>
      </div>      
      
      <div class="text-right">
        {{ form.submit(class="btn btn-lg btn-danger my-3 mr-3") }}
      </div>
      
    </form>
    <p class="text-right text-light"> 
      Already signed up?
      <a class="link-warning" href="{{ url_for('auth.login') }}">
        Click here to login.
      </a>
    </p>
  </div>
  <div class="col-md-3 offset-md-1">
    <svg width="35vw" height="50vw" viewBox="0 0 452 520" class="main-tree" style="background-color:;">
      <defs>
          <circle cx="106" fill="var(--primary-colour)" cy="136" r="16"></circle>
          <circle cx="346" fill="var(--secondary-colour)" cy="136" r="16"></circle>
          <circle cx="74" fill="var(--secondary-colour)" cy="226" r="16"></circle>
          <circle cx="376" fill="var(--primary-colour)" cy="226" r="16"></circle>
          <circle cx="46" fill="var(--primary-colour)" cy="331" r="16"></circle>
          <circle cx="406" fill="var(--secondary-colour)" cy="331" r="16"></circle>
          <circle cx="16" fill="var(--secondary-colour)" cy="451" r="16"></circle>
          <circle cx="436" fill="var(--primary-colour)" cy="451" r="16"></circle>
          <rect id="path-1" x="196" y="449" width="60" height="72"></rect>
          <filter x="-16.7%" y="-13.9%" width="133.3%" height="127.8%" filterUnits="objectBoundingBox" id="filter-2">
              <feGaussianBlur stdDeviation="5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="10" dy="0" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <polygon id="path-3" points="226 239 436 449 16 449"></polygon>
          <filter x="-8.3%" y="-11.9%" width="116.7%" height="133.3%" filterUnits="objectBoundingBox" id="filter-4">
              <feOffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
          <polygon id="path-5" points="226 149 406 329 46 329"></polygon>
          <filter x="-9.7%" y="-13.9%" width="119.4%" height="138.9%" filterUnits="objectBoundingBox" id="filter-6">
              <feOffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
          <polygon id="path-7" points="226 74 376 224 76 224"></polygon>
          <filter x="-11.7%" y="-16.7%" width="123.3%" height="146.7%" filterUnits="objectBoundingBox" id="filter-8">
              <feOffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
          <polygon id="path-9" points="226 14 346 134 106 134"></polygon>
          <filter x="-14.6%" y="-20.8%" width="129.2%" height="158.3%" filterUnits="objectBoundingBox" id="filter-10">
              <feOffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
          <circle id="path-11" cx="74" cy="240" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-12">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-13" cx="106" cy="150" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-14">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-15" cx="344" cy="150" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-16">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-17" cx="376" cy="240" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-18">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-19" cx="46" cy="345" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-20">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-21" cx="406" cy="345" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-22">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-23" cx="16" cy="465" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-24">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
          <circle id="path-25" cx="436" cy="465" r="16"></circle>
          <filter x="-10.9%" y="-10.9%" width="121.9%" height="121.9%" filterUnits="objectBoundingBox" id="filter-26">
              <feGaussianBlur stdDeviation="2.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
              <feOffset dx="2" dy="-2" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
              <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
          </filter>
      </defs>
      <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Rectangle">
              <use fill="#8B572A" fill-rule="evenodd" xlink:href="#path-1"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
          </g>
          <g id="Triangle">
              <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
              <use fill="#507E1A" fill-rule="evenodd" xlink:href="#path-3"></use>
          </g>
          <g id="Triangle">
              <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
              <use fill="#507E1A" fill-rule="evenodd" xlink:href="#path-5"></use>
          </g>
          <g id="Triangle">
              <use fill="black" fill-opacity="1" filter="url(#filter-8)" xlink:href="#path-7"></use>
              <use fill="#507E1A" fill-rule="evenodd" xlink:href="#path-7"></use>
          </g>
          <g id="Triangle">
              <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
              <use fill="#507E1A" fill-rule="evenodd" xlink:href="#path-9"></use>
          </g>
          <g id="Oval">
              <use fill="var(--primary-colour)" fill-rule="evenodd" xlink:href="#path-13"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-14)" xlink:href="#path-13"></use>
          </g>
          <g id="Oval">
              <use fill="var(--secondary-colour)" fill-rule="evenodd" xlink:href="#path-15"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-16)" xlink:href="#path-15"></use>
          </g>
          <g id="Oval">
              <use fill="var(--secondary-colour)" fill-rule="evenodd" xlink:href="#path-11"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-12)" xlink:href="#path-11"></use>
          </g>
          <g id="Oval">
              <use fill="var(--primary-colour)" fill-rule="evenodd" xlink:href="#path-17"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-18)" xlink:href="#path-17"></use>
          </g>
          <g id="Oval">
              <use fill="var(--primary-colour)" fill-rule="evenodd" xlink:href="#path-19"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-20)" xlink:href="#path-19"></use>
          </g>
          <g id="Oval">
              <use fill="var(--secondary-colour)" fill-rule="evenodd" xlink:href="#path-21"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-22)" xlink:href="#path-21"></use>
          </g>
          <g id="Oval">
              <use fill="var(--secondary-colour)" fill-rule="evenodd" xlink:href="#path-23"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-24)" xlink:href="#path-23"></use>
          </g>
          <g id="Oval">
              <use fill="var(--primary-colour)" fill-rule="evenodd" xlink:href="#path-25"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-26)" xlink:href="#path-25"></use>
          </g>
          <g id="lights-container">
          </g>
      </g>
  </svg>
  </div>
</div>



  
{% endblock %}